<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Register</h2>
                    <h2 class="ec-title">Register</h2>
                    <p class="sub-title mb-3">Trust us to be your one-stop shop for building a high-quality, customized PC</p>
                </div>
            </div>
            <div class="ec-register-wrapper">
                <div class="ec-register-container">
                    <div class="ec-register-form">
                        <form action="#" method="post">
                            <span class="ec-register-wrap ec-register-half">
                                <label>First Name*</label>
                                <input type="text" name="firstname" placeholder="Enter your first name" required />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Last Name*</label>
                                <input type="text" name="lastname" placeholder="Enter your last name" required />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Email*</label>
                                <input type="email" name="email" placeholder="Enter your email add..." required />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Phone Number*</label>
                                <input type="text" name="phonenumber" placeholder="Enter your phone number"
                                    required />
                            </span>
                            <span class="ec-register-wrap">
                                <label>Address</label>
                                <input type="text" name="address" placeholder="Address Line 1" />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>City*</label>
                                <input type="text" name="city" placeholder="Enter your city"
                                    required />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Account Name*</label>
                                <input type="text" name="username" placeholder="Enter your username"
                                    required />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Password*</label>
                                <input type="text" name="password" placeholder="Enter your password"
                                    required />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Confirm Password*</label>
                                <input type="text" name="confirm_password" placeholder="Enter your confirm password"
                                    required />
                            </span>
                            <span class="ec-register-wrap ec-register-btn">
                                <button class="btn btn-primary" type="submit">Register</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>