<section class="section ec-about-sec section-space-p">
    <div class="container">
        <div class="row">
            <div class="section-title d-none">
                <h2 class="ec-title">About</h2>
            </div>
            <div class="col-lg-6">
                <div class="ec-about">
                    
                    
                    <%=(about && about.mimetype?`<img src="upload/about/about.%{about.mimetype}" alt="about-image">`:'Add about me from control panel')%>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ec-about-detail">
                    <h4><%= (about && about.head?about.head:'')%></h4>
                    <p><%= (about && about.description?about.description:'') %></p>
                </div>
            </div>
        </div>
    </div>
</section>
