<section class="ec-banner section section-space-p">
    <div class="container">
        <h2 class="d-none">Banner</h2>
        <div class="ec-banners">
            <div class="ec-banner-left col-sm-6">
                <div class="ec-banner-block ec-banner-block-1 col-sm-12">
                    <div class="banner-block">
                        <img src="assets/images/banner/28.jpg" alt="" />
                        <div class="banner-content">
                            <div class="banner-text">
                                <span class="ec-banner-stitle">20% Off ! Limited week deal</span>
                                <span class="ec-banner-title">tools box</span>
                                <p>Lorem ipsum, or lipsum as it <br>is sometimes known, is dummy <br>since 1991.</p>
                            </div>
                            <span class="ec-banner-btn"><a href="shop-left-sidebar-col-3.html"
                                    class="btn-primary">Discover Now</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-banner-right col-sm-6">
                <div class="ec-banner-block ec-banner-block-2 col-sm-12">
                    <div class="banner-block">
                        <img src="assets/images/banner/29.jpg" alt="" />
                        <div class="banner-content">
                            <div class="banner-text">
                                <span class="ec-banner-stitle">Rezer’s</span>
                                <span class="ec-banner-title">welding machine</span>
                            </div>
                            <span class="ec-banner-btn"><a href="shop-left-sidebar-col-3.html"
                                    class="btn-primary">Discover Now</a></span>
                        </div>
                    </div>
                </div>
                <div class="ec-banner-block ec-banner-block-3 col-sm-6">
                    <div class="banner-block">
                        <a href="shop-left-sidebar-col-3.html">
                            <img src="assets/images/banner/30.jpg" alt="" />
                            <div class="banner-content">
                                <div class="banner-text">
                                    <span class="ec-banner-stitle">Exlusive</span>
                                    <span class="ec-banner-title">cleaner machine</span>
                                    <span class="ec-banner-desc">Starting <span>$500.00</span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ec-banner-block ec-banner-block-4 col-sm-6">
                    <div class="banner-block">
                        <a href="shop-left-sidebar-col-3.html">
                            <img src="assets/images/banner/31.jpg" alt="" />
                            <div class="banner-content">
                                <div class="banner-text">
                                    <span class="ec-banner-stitle">Best 2022 Gear</span>
                                    <span class="ec-banner-title">level machine</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>