<div class="ec-fb-style fb-right-bottom">

    <!-- Start Floating Panel Container -->
    <div class="fb-panel">
        <!-- Panel Content -->
        <div class="fb-header">
            <img src="assets/images/user/1.jpg" alt="pic" />
            <h2>Maria Mark</h2>
            <p>Technical Manager</p>
        </div>
        <div class="fb-body">
            <p><b>Hey there &#128515;</b></p>
            <p>Need help ? just send me a message.</p>
        </div>
        <div class="fb-footer">

            <a href="http://m.me/Loopinfosol" target="_blank" class="fb-msg-button">
                <span>Send Message</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </a>

        </div>
    </div>
    <!--/ End Floating Panel Container -->

    <!-- Start Right Floating Button -->
    <div class="fb-button fb-right-bottom">
        <img class="fa-messenger" src="assets/images/icons/chat-icon.png" alt="icon" />
    </div>
    <!--/ End Right Floating Button -->

</div>