<section class="section ec-test-section section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title-block">
                <div class="section-title">
                    <h2 class="ec-title">Testimonial</h2>
                    <p class="sub-title">What our clients say about us!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ec-test-outer">
                <ul id="ec-testimonial-slider">
                    <li class="ec-test-item">
                        <div class="ec-test-inner">
                            <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                    src="images/1.jpg" /></div>
                            <div class="ec-test-content">
                                <div class="ec-test-icon"><img src="assets/images/testimonial/quote-3.svg"
                                        class="svg_img test_svg" alt="" /></div>
                                <div class="ec-test-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam.</div>
                                <div class="ec-test-name-info">
                                    <div class="ec-test-name">Khaled Saleh</div>
                                    <div class="ec-test-designation">Manager of <%= storeInfo.name%></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>