<section class="section ec-trend-product section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title-block">
                <div class="section-title">
                    <h2 class="ec-title">Trending Item</h2>
                    <p class="sub-title">Check out our trending products.</p>
                </div>
                <div class="section-btn">
                    <span class="ec-section-btn"><a class="btn-secondary" href="shop-left-sidebar-col-3.html">View
                            All</a></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ec-trend-slider">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="product-left-sidebar.html" class="image">
                                    <img class="main-image" src="assets/images/product-image/137_2.jpg"
                                        alt="Product" />
                                    <img class="hover-image" src="assets/images/product-image/137_1.jpg"
                                        alt="Product" />
                                </a>
                                <div class="ec-pro-actions">
                                    <button title="Add To Cart" class=" add-to-cart"><img
                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                            alt="" /></button>
                                    <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                            src="assets/images/icons/compare.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                        title="Quick view" data-bs-toggle="modal"
                                        data-bs-target="#ec_quickview_modal"><img
                                            src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><img
                                            src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Vice tool for wooden
                                    work</a>
                            </h5>
                            <span class="ec-price">
                                <span class="old-price">$450</span>
                                <span class="new-price">$370</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="product-left-sidebar.html" class="image">
                                    <img class="main-image" src="assets/images/product-image/130_2.jpg"
                                        alt="Product" />
                                    <img class="hover-image" src="assets/images/product-image/130_1.jpg"
                                        alt="Product" />
                                </a>
                                <span class="flags">
                                    <span class="sale">Top Seller</span>
                                </span>
                                <div class="ec-pro-actions">
                                    <button title="Add To Cart" class=" add-to-cart"><img
                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                            alt="" /></button>
                                    <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                            src="assets/images/icons/compare.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                        title="Quick view" data-bs-toggle="modal"
                                        data-bs-target="#ec_quickview_modal"><img
                                            src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><img
                                            src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Breaker machine smart
                                    tech</a>
                            </h5>
                            <span class="ec-price">
                                <span class="old-price">$999</span>
                                <span class="new-price">$799</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="product-left-sidebar.html" class="image">
                                    <img class="main-image" src="assets/images/product-image/128_2.jpg"
                                        alt="Product" />
                                    <img class="hover-image" src="assets/images/product-image/128_1.jpg"
                                        alt="Product" />
                                </a>
                                <div class="ec-pro-actions">
                                    <button title="Add To Cart" class=" add-to-cart"><img
                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                            alt="" /></button>
                                    <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                            src="assets/images/icons/compare.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                        title="Quick view" data-bs-toggle="modal"
                                        data-bs-target="#ec_quickview_modal"><img
                                            src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><img
                                            src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Single drilling machine
                                    vss1</a></h5>
                            <span class="ec-price">
                                <span class="old-price">$1549</span>
                                <span class="new-price">$1400</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="product-left-sidebar.html" class="image">
                                    <img class="main-image" src="assets/images/product-image/129_2.jpg"
                                        alt="Product" />
                                    <img class="hover-image" src="assets/images/product-image/129_1.jpg"
                                        alt="Product" />
                                </a>
                                <div class="ec-pro-actions">
                                    <button title="Add To Cart" class=" add-to-cart"><img
                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                            alt="" /></button>
                                    <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                            src="assets/images/icons/compare.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                        title="Quick view" data-bs-toggle="modal"
                                        data-bs-target="#ec_quickview_modal"><img
                                            src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><img
                                            src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Grinder machine striker
                                    s1</a>
                            </h5>
                            <span class="ec-price">
                                <span class="old-price">$120</span>
                                <span class="new-price">$80</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="product-left-sidebar.html" class="image">
                                    <img class="main-image" src="assets/images/product-image/131_2.jpg"
                                        alt="Product" />
                                    <img class="hover-image" src="assets/images/product-image/131_1.jpg"
                                        alt="Product" />
                                </a>
                                <span class="flags">
                                    <span class="stock">Out of stock</span>
                                </span>
                                <div class="ec-pro-actions">
                                    <button title="Add To Cart" class=" add-to-cart"><img
                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                            alt="" /></button>
                                    <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                            src="assets/images/icons/compare.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                        title="Quick view" data-bs-toggle="modal"
                                        data-bs-target="#ec_quickview_modal"><img
                                            src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><img
                                            src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Ceramic tiles cutter</a>
                            </h5>
                            <span class="ec-price">
                                <span class="old-price">$450</span>
                                <span class="new-price">$400</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="product-left-sidebar.html" class="image">
                                    <img class="main-image" src="assets/images/product-image/136_1.jpg"
                                        alt="Product" />
                                    <img class="hover-image" src="assets/images/product-image/136_1.jpg"
                                        alt="Product" />
                                </a>
                                <div class="ec-pro-actions">
                                    <button title="Add To Cart" class=" add-to-cart"><img
                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                            alt="" /></button>
                                    <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                            src="assets/images/icons/compare.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                        title="Quick view" data-bs-toggle="modal"
                                        data-bs-target="#ec_quickview_modal"><img
                                            src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><img
                                            src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Messoring tap tools</a>
                            </h5>
                            <span class="ec-price">
                                <span class="old-price">$12</span>
                                <span class="new-price">$10</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="product-left-sidebar.html" class="image">
                                    <img class="main-image" src="assets/images/product-image/138_2.jpg"
                                        alt="Product" />
                                    <img class="hover-image" src="assets/images/product-image/138_1.jpg"
                                        alt="Product" />
                                </a>
                                <span class="flags">
                                    <span class="sale">Top Seller</span>
                                </span>
                                <div class="ec-pro-actions">
                                    <button title="Add To Cart" class=" add-to-cart"><img
                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                            alt="" /></button>
                                    <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                            src="assets/images/icons/compare.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                        title="Quick view" data-bs-toggle="modal"
                                        data-bs-target="#ec_quickview_modal"><img
                                            src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><img
                                            src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Screwdrivers Set</a>
                            </h5>
                            <span class="ec-price">
                                <span class="old-price">$230</span>
                                <span class="new-price">$180</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="product-left-sidebar.html" class="image">
                                    <img class="main-image" src="assets/images/product-image/139_2.jpg"
                                        alt="Product" />
                                    <img class="hover-image" src="assets/images/product-image/139_1.jpg"
                                        alt="Product" />
                                </a>
                                <span class="flags">
                                    <span class="stock">Out of stock</span>
                                </span>
                                <div class="ec-pro-actions">
                                    <button title="Add To Cart" class=" add-to-cart"><img
                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                            alt="" /></button>
                                    <a href="compare.html" class="ec-btn-group compare" title="Compare"><img
                                            src="assets/images/icons/compare.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                        title="Quick view" data-bs-toggle="modal"
                                        data-bs-target="#ec_quickview_modal"><img
                                            src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><img
                                            src="assets/images/icons/pro_wishlist.svg" class="svg_img pro_svg"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Spanner hand tool vss</a>
                            </h5>
                            <span class="ec-price">
                                <span class="old-price">$68</span>
                                <span class="new-price">$55</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>