<div class="modal fade" id="ec_quickview_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" id="quickview-close" class="btn-close qty_close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <!-- Swiper -->
                        <div class="qty-product-cover">
                            <div class="qty-slide">
                                <img class="img-responsive" id="quickview-img" src="../assets/images/product-image/19_1.jpg" alt="" height="250">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="quickview-pro-content">
                            <h5 class="ec-quick-title"><a  id="name">Unknown</a></h5>
                            <div class="ec-quickview-desc">Please limit your purchase to the quantity currently in stock.</div>
                            <div class="ec-quickview-price">
                                <span class="new-price" id="price">$0</span>
                            </div>

                            <div class="ec-pro-variation-inner ec-pro-variation-size ec-pro-size w-100">
                                <span >Stock</span>
                                <div class="ec-pro-variation-content mt-2">
                                    <ul class="ec-opt-size">
                                        <li class="active"><a  class="ec-opt-sz" id="quantity">0</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ec-quickview-qty" id="quickview-input-addtocart">
                                <div class="qty-plus-minus">
                                    <input id="addToCart-count" class="qty-input" type="text" name="ec_qtybtn" value="1" min="1"/>
                                </div>
                                <div class="ec-quickview-cart ">
                                    <button id="quickview-addToCart" class="btn btn-secondary"><img src="../assets/images/icons/pro_cart.svg"
                                            class="svg_img pro_svg" alt="" 
                                            data-id='' data-name='' data-mimetype=''  data-price='' data-category=''
                                            /> Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>