<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">FAQ</h2>
                    <h2 class="ec-title">FAQ</h2>
                    <p class="sub-title mb-3">Customer service management</p>
                </div>
            </div>
            <div class="ec-faq-wrapper">
                <div class="ec-faq-container">
                    <h2 class="ec-faq-heading">What is <%= storeInfo.name %> services?</h2>
                    <div id="ec-faq">
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">How do I know if a product is in stock?</h4>
                            <div class="ec-faq-content">
                                <p>To check the availability of a product, simply click on the eye icon located on the product. If the item is out of stock, a warning tag will be displayed at the top left corner of the product.</p>
                            </div>
                        </div>
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">Do you offer any warranties or guarantees on your products?</h4>
                            <div class="ec-faq-content">
                                <p>Yes, we offer warranties on many of the products we sell. The length and terms of the warranty may vary depending on the product. We also stand behind the quality of our products and offer a satisfaction guarantee for all purchases.</p>
                            </div>
                        </div>
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">Can you help me choose the right computer or component for my needs?</h4>
                            <div class="ec-faq-content">
                                <p>Absolutely. Our team of experts is always available to help you select the right computer or component based on your specific needs and budget. We can provide personalized recommendations and answer any questions you may have.</p>
                            </div>
                        </div>
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">What payment methods do you accept?</h4>
                            <div class="ec-faq-content">
                                <p>We accept for now PayPal, and cash by visiting our shop at <%= storeInfo.location %></p>
                            </div>
                        </div>
                        <div class="col-sm-12 ec-faq-block">
                            <h4 class="ec-faq-title">Do you offer shipping?</h4>
                            <div class="ec-faq-content">
                                <p>No, After purchasing from our store, you will need to pick up your items at our location <%= storeInfo.location %>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>