<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">About Us</h2>
                    <h2 class="ec-title">About Us</h2>
                    <p class="sub-title mb-3">About our business Firm</p>
                </div>
            </div>
            <div class="ec-common-wrapper">
                <div class="row">
                    <div class="col-md-6 ec-cms-block ec-abcms-block text-center">
                        <div class="ec-cms-block-inner">
                        <img class="a-img" src="./images/about_us2.avif" alt="about">
                        </div>
                    </div>
                    <div class="col-md-6 ec-cms-block ec-abcms-block text-center">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">What is the <%= storeInfo.name%>?</h3>
                            <p>Welcome to our online store where we specialize in providing the latest and greatest in computer technology.
                                 We offer a wide range of products, including high-quality laptops, desktop computers,
                                  and hardware components such as memory and motherboards.</p>
                            <p>Whether you're a gamer looking for the latest graphics card or a professional seeking a powerful workstation, our selection of cutting-edge hardware has got you covered. Our inventory includes top brands and models, carefully chosen to provide you with the best performance, reliability, and value for your money.</p>
                            <p>
                                We pride ourselves on providing competitive pricing, and exceptional customer service. When you shop with us, you can trust that you are getting the best products and support available. Thank you for choosing our online store for all your computer and hardware needs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ec testmonial Start -->
<section class="section ec-test-section section-space-ptb-100 section-space-m">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title mb-0">
                    <h2 class="ec-bg-title">our team of staff managers</h2>
                    <h2 class="ec-title">our team of staff managers</h2>
                    <p class="sub-title mb-3">About Them</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ec-test-outer">
                <ul id="ec-testimonial-slider">
                    <li class="ec-test-item">
                        <img src="assets/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="" />
                        <div class="ec-test-inner">
                            <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                    src="images/1.jpg" /></div>
                            <div class="ec-test-content">
                                <div class="ec-test-desc">Khaled has an extensive background in computer hardware and software, and his technical know-how is invaluable when it comes to selecting and maintaining our product offerings.</div>
                                <div class="ec-test-name">Khaled Saleh</div>
                                <div class="ec-test-designation">Technology Manager</div>
                                <div class="ec-test-rating">
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                </div>
                            </div>
                        </div>
                        <img src="assets/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom"
                            alt="" />
                    </li>
                    <li class="ec-test-item">
                        <img src="assets/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="" />
                        <div class="ec-test-inner">
                            <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                    src="./images/3.jpg" /></div>
                            <div class="ec-test-content">
                                <div class="ec-test-desc">With years of experience in the retail industry, Moataz has a keen eye for detail and is always looking for ways to improve the customer experience.</div>
                                <div class="ec-test-name">Moataz Rabaya</div>
                                <div class="ec-test-designation">Customer Service Manager</div>
                                <div class="ec-test-rating">
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                </div>
                            </div>
                        </div>
                        <img src="assets/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom"
                            alt="" />
                    </li>
                    <li class="ec-test-item">
                        <img src="assets/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="" />
                        <div class="ec-test-inner">
                            <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                    src="./images/2.jpg" /></div>
                            <div class="ec-test-content">
                                <div class="ec-test-desc">Ahmad is an expert in supply chain management and logistics, ensuring that our inventory is always well-stocked and that orders are fulfilled quickly and accurately.</div>
                                <div class="ec-test-name">Ahmad Anini</div>
                                <div class="ec-test-designation">Operations Manager</div>
                                <div class="ec-test-rating">
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                </div>
                            </div>
                        </div>
                        <img src="assets/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom"
                            alt="" />
                    </li>
                    <li class="ec-test-item">
                        <img src="assets/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="" />
                        <div class="ec-test-inner">
                            <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                    src="./images/4.jpg" /></div>
                            <div class="ec-test-content">
                                <div class="ec-test-desc">Mazen has been with us since we first opened our doors, and he has played a pivotal role in the growth and success of our store. With his strong leadership skills and keen business acumen</div>
                                <div class="ec-test-name">Mazen Foqha</div>
                                <div class="ec-test-designation">Store Manager</div>
                                <div class="ec-test-rating">
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                </div>
                            </div>
                        </div>
                        <img src="assets/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom"
                            alt="" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>