<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Privacy & Policy</h2>
                    <h2 class="ec-title">Privacy & Policy</h2>
                    <p class="sub-title mb-3">Welcome to the <%= storeInfo.name %> marketplace</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ec-common-wrapper">
                    <div class="col-sm-12 ec-cms-block mt-3">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">Introduction</h3>
                            <p>At <%= storeInfo.name%>, we are committed to protecting your 
                                privacy and ensuring that your personal information is handled 
                                in a safe and responsible manner. This Privacy & Policy document 
                                outlines how we collect, use, and protect your personal information
                                 when you use our website or make purchases in our store.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 ec-cms-block mt-3">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">Information We Collect</h3>
                            <p>When you visit our website or make a purchase in our store, 
                                we may collect certain personal information from you, 
                                such as your name, email address, phone number, 
                                and billing. We may also collect non-personal information, 
                                such as your IP address and browsing behavior on our website.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 ec-cms-block mt-3">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">How We Use Your Information</h3>
                            <p>We may use your personal information to process your orders, 
                                communicate with you about your purchases, 
                                and provide you with relevant marketing and promotional materials. 
                                We may also use your information to improve our website and customer service, 
                                and to comply with legal obligations.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 ec-cms-block mt-3">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">Information Security</h3>
                            <p>We take the security of your personal information seriously and have 
                                implemented measures to protect it from unauthorized access,use, or disclosure. 
                                We use industry-standard encryption technology to secure sensitive information, such as credit card numbers, 
                                during transmission. We also restrict access to personal information 
                                to employees who need it to perform their job functions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>